{% extends "base.html" %}
<title>{% block title %}About Us|| Parking - Devanahalli, Bangalore{% endblock %}</title>

{% block bodyContent %}
    {% block bodyHeading %}
    <h2 style="align-items: left;">About Us</h2>
    <p><strong>Parking Database for RSSB Major Center Programmes.</strong></p>
    <p>It has below features:</p>
    <ul>
        <li>Add Vehicle entry</li>
        <li>Search Vehicle entry</li>
        <li>Download PDF file of all entries</li>
        <li>No login required to use this application.</li>
    </ul>
    <p><strong>Developed by:</strong> Traffic Deparment - Devanahalli, Bangalore</p>
    {% endblock %}
{% endblock %}