{% extends "base.html" %}
<title>{% block title %}Search your vehicle || Parking - Devanahalli, Bangalore{% endblock %}</title>

{% block backAndForth %}
    <div class="backAndForth" style="display: flex; align-items: right; justify-content: right">
        <a href="/add" style="width:50%;">
            <button type="button" class="btn btn-light" style="width: 100%;">Add New Vehicle</button><br><br>
        </a>
    </div>
{% endblock %}

{% block bodyContent %}
    {% block bodyHeading %}
        <h2 style="text-align: left;">Enter registration number</h2>
    {% endblock %}
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="RegistrationNumber" placeholder="Registration number">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
{% endblock %}
